#container {
    min-height: 20%;
    position: relative;
}

#header {
    position: fixed;
    top: 0;
    right: 0;
    width: auto;
    background-color: white;
    padding: 5px;
    height: 40px;
    border: 3px solid;
    border-color: blue;
    z-index: 1;
}

#body {
    position: relative;
    top: 20px;
    left: 0;
    width: 100%;
    margin: 10px;
}

#footer {
    position: relative;
    bottom: -50px;
    left: 0;
    width: auto;
    padding: 5px;
    height: 20px;
    border: 3px solid;
    border-color: blue;
    background-color: white;
    z-index: 1;
}
